//-------------------------------------------
// Цвета ////////////////////////////////////
//-------------------------------------------
// background: rgba(48, 213, 200, 0.3);
// #c0c0c0;// Серебряный
//-------------------------------------------
$BackgroundColor: #333;
$BackgroundBox: #334443;
$TextColor: #30d5c8;
$linkColor: #30d5c8;
$linkhoverColor: #ffd700;
$BorderColor: #30d5c8;
$CmdColor: #c0c0c0;
//-------------------------------------------